body {
	background: #fafafa;
}

a {
	text-decoration: none;
}

.outer-loader {
  margin-top:300px;
}

.loader,
.loader:before,
.loader:after {
  background: #FF9800;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #FF9800;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.header {
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: #2196F3;
  padding-left: 10px;
  padding-top: 0px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header h1 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 22px;
  color: white;
  font-weight: 300;

}

.header > i {
  font-size: 22px;
  color:white;
  display: flex;
  margin-right: 10px;
}

.header > h1 > a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.logo {
  height: 24px;
  width: 24px;
  background-color: none;
}

.footer {
	position: fixed;
	bottom: 0px;
	height: 60px;
	width: 100%;
  display: flex;
  background-color: #0091EA;
}

.dining-hall-container {
	display: flex;
	width: 100%;
	height: 100%;
	padding-top: 75px;
	justify-content: center;
  align-items: center;
}

.dining-hall {
	width: 90%;
	padding: 0px 10px 10px 10px;
	background-color: white;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
	overflow: hidden;
}

.dining-hall > h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
}

.dining-hall > h2 > a, .dining-hall > h2 {
	font-family: 'Hind', sans-serif;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dining-hall > h4 {
	font-family: 'Hind', sans-serif;
	font-size: 14px;
}

.dining-hall-label {
	display: inline-flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	margin: 0px 0px 3px 0px;
}

.dining-hall-label > h4{
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'Hind', sans-serif;
	color: #2196F3;
	font-weight: 600;
	margin: 0px 0px 0px 0px;
}

.dining-hall-label > i {
	font-size: 12px;
	color: #2196F3;
	margin: 2px 5px 0px 0px;
}

.dining-hours-line {
	color: #BDBDBD;
}

.dining-hours-line.active {
	color: #333;
}

.dining-hours-line > p {
	font-size: 12px;
	font-family: 'Hind', sans-serif;
	color: inherit;
}

.dining-url > a {
	font-size: 12px;
	font-family: 'Hind', sans-serif;
	text-decoration: none;
	color: #FF9800;
}

.dining-hall-list {
  margin-top: 75px;
  display:flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 65px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dining-hall-card {
  width: 90%;
  background-color: white;
  height: 90px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);

	display: flex;
	flex-direction: row;
}

.dining-hall-card-title > h2 {
	color: #333;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
	margin: 10px 0px 5px 0px
}

.dining-hall-card-container {
	width: 85%;
	overflow: hidden;
}

.dining-hall-card-title {
	overflow: hidden;
	white-space: nowrap;
}

.dining-hall-card-arrow {
	width: 15%;
	height: 100%;
}

.dining-hall-card-closing {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 16px;
	color: #bdbdbd;
}

.dining-hall-card-closing > i {
	margin: 0px 5px 0px 0px;
}

.dining-hall-card-closing > p{
	font-size: 12px;
	font-family: 'Hind', sans-serif;
	color: inherit;
	margin: 12px 0px 10px 0px;
	vertical-align: middle;
}

.dining-hall-card-arrow > a {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #2196F3;
	text-decoration: none;
	font-size: 24px;
}

/* For desktop applications */
@media only screen and (min-width: 768px) {

  .footer {
    display:none;
  }

  .dining-hall-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .dining-hall-card {
    width: 20%;
    height: 250px;
    overflow: hidden;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 10px;
  }

  .dining-hall-card > h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
