body {
	background: #fafafa;
}

.header {
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: #0091EA;
  padding-left: 10px;
  padding-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header > h1 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 22px;
  color: white;
  font-weight: 600;

}

.header > i {
  font-size: 22px;
  color:white;
  display: flex;
  margin-right: 10px;
}

.header > h1 > a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.logo {
  height: 24px;
  width: 24px;
  background-color: none;
}

.footer {
	position: fixed;
	bottom: 0px;
	height: 60px;
	width: 100%;
  display: flex;
  background-color: #0091EA;
}

.footer > .pivot {
  vertical-align: middle;
  flex-grow: 1;
  border-bottom: 5px solid transparent;
}

.footer > button {
  background:rgba(0,0,0,0);
  border: none;

}

.footer > .pivot:hover {
  background-color: #00B0FF;

}

.footer > .pivot:active {
  color: #2C3D4F;
  border-bottom: 5px solid white;
}

.pivot > p {
  color: white;
}

.dining-hall-list {
  margin-top: 70px;
  display:flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 65px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dining-hall {
  width: 80%;
  background-color: white;
  height: 100px;
  overflow: hidden;
  padding-left: 10px;
  margin-top: 5px;
}

.dining-hall > h2 {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* For desktop applications */
@media only screen and (min-width: 768px) {

  .footer {
    display:none;
  }

  .dining-halls {
    flex-direction: row;
  }

  .dining-hall {
    width: 100px;
    overflow: hidden;
  }

  .dining-hall > h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
