body {
	background: #F9F5F0;
}

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
  display: flex;
}

.footer > .pivot {
  vertical-align: middle;
  flex-grow: 1;

}

.footer > .pivot:hover {
  color: #34495D;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: #34495D;

}

.footer > .pivot:active {
  color: #2C3D4F;
  border-style: solid;
  border-bottom: 3px;
  border-color: #2C3D4F;
}
